**/node_modules
**/build
**/coverage
.idea
.nyc_output
.npm
coverage
.env

# OS
.DS_Store

# IDE - VSCode
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

tagAndBuild.sh

.npmrc
**/junit.xml
**/artillery/result.json
